<app-title title="Category" status="Welcome to all category.">
  <app-button color="primary" size="xs" data-bs-toggle="modal" data-bs-target="#add-category">Add course</app-button>
</app-title>

<app-modal (close)="onCloseModal()" [id]="'add-category'" title="Add Category">
  <app-category-form [form]="form" (sumbmit)="addCategory()"></app-category-form>
</app-modal>

<!-- Page -->
{{categories | json}}
<app-panel class="mt-4" *ngIf="(cats$ | async) as data">
  <header class="panel-title">
    <h4 class="mb-0">Category list</h4>
  </header>
  <app-data-table [data]="categories" (handler)="onHandler($event)"></app-data-table>
</app-panel>
