.hero {
  padding-top: $navbar-height * 1.5;
  &.detail {
    position: relative;
    background-color: $hero-bg;
    padding-bottom: 60px;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 40px solid $body-bg;
      border-right: 50vw solid transparent;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 40px solid $body-bg;
      border-left: 50vw solid transparent;
    }
  }
  &.bg {
    background-image: url("../../images/hero.webp");
    min-height: 70vh;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    border-bottom: 10px solid $primary;

    h1 {
      font-size: $base-size * 2.5;
    }

    &:before {
      content: "";
      background-image: linear-gradient(
        180deg,
        rgba($white, 1),
        rgba($white, 0)
      );
      position: absolute;
      width: $global-width;
      top: 0;
      height: 40%;
    }
  }
}
