.page-not-found {
  min-height: $global-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    max-height: 500px;
  }
  .navbar-brand {
    justify-content: center;
  }
}
