.navbar {
  &-brand {
    display: flex;
    align-items: center;

    &:hover {
      color: $primary;
    }
  }

  .nav-item {
    margin-left: 20px;
    position: relative;
    .nav-link {
      color: $text-color;
      padding: 15px 10px;
    }
    &.active {
      .nav-link {
        color: $primary;
      }
    }
  }

  &-public {
  }

  &-admin {
    padding: 5px 0;
    background-color: $navbar-white-bg;
    box-shadow: $navbar-shadow;
  }
}
