.flex {
  flex: 1;
}

._center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.root {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  &-child {
    flex: 1;
  }
}
